.selector {
  background-color: #2f2f2f;
  display: flex;
  height: 40px;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
  border-radius: 10px 10px 0 0;
  color: #cdcdcd;
  font-weight: 600;
  font-size: 1rem;
  overflow: scroll;
}

@media (width < 768px) {
  .selector {
    font-size: 0.6rem;
  }
}

.bar {
  padding: 0 1rem;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-property: opacity;
  transition-duration: 0.5s;
}

.bar[data-active='false'] {
  opacity: 0.5;
}

.bar[data-active='true']::after {
  position: absolute;
  bottom: -0.5rem;
  right: 0;
  left: 0;
  height: 2px;
  content: ' ';
  background-color: var(--orange-500);
  view-transition-name: var(--vtName);
}
