.container {
  width: 100%;
  height: 4rem;
  padding: 1rem 2rem 0rem 2rem;
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  gap: 4rem;
  font-weight: 700;
}

.list {
  list-style-type: none;
  user-select: none;
  cursor: pointer;
  z-index: 3;
}

.list[data-curr='true'] {
  color: red;
}

@starting-style {
  .wiki {
    opacity: 0;
  }
}

.wiki {
  background-color: white;
  display: grid;
  column-gap: 2rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding: 4rem 8rem 2rem 8rem;
  position: absolute;
  z-index: 2;
  width: 70%;
  filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
  border-radius: 10px;
  transition:
    opacity 0.5s,
    display 0.5s allow-discrete;
}

.wiki-delete {
  opacity: 0;
  display: none;
}

.wiki-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 4rem;
  padding-left: 1rem;
  border-bottom: solid var(--gray-300) 2px;
}

@media (hover: hover) {
  .wiki-item:hover {
    background-color: var(--gray-200);
  }
}

@media (768px <= width < 1024px) {
  .wiki {
    padding: 2rem 4rem 1rem 4rem;
  }
}

@media (425px <= width < 768px) {
  .container {
    gap: 2rem;
  }

  .wiki {
    padding: 2rem 2rem 1rem 2rem;
  }
}

@media (width < 425px) {
  .container {
    gap: 1rem;
  }

  .wiki {
    padding: 3rem 2rem 1rem 2rem;
  }

  .wiki-item {
    height: 3rem;
    padding-left: 0.5rem;
  }
}
