.container {
  width: 100%;
  padding: 1rem 2rem 0rem 2rem;
  position: absolute;
  z-index: 2;
  box-sizing: border-box;
}

.menu {
  width: 100%;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 700;
}

.list {
  width: 100%;
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: center;
}

.list > li {
  cursor: pointer;
  height: min-content;
  color: black;
}

.subject {
  display: grid;
  column-gap: 2rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding: 2rem 8rem 2rem 8rem;
}

@keyframes slideFromBottom {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.item {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 4rem;
  padding-left: 1rem;
  border-bottom: solid var(--gray-300) 2px;
  animation: slideFromBottom 0.5s;
}

@media (width < 425px) {
  .list {
    gap: 1.5rem;
  }

  .subject {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding: 2rem;
  }

  .container {
    padding: 1rem 1rem 0rem 1rem;
  }
}

@media (hover: hover) {
  .item:hover {
    background-color: var(--gray-200);
  }
}
