.pagination {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.page {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  border-radius: 10px;
  transition-duration: 0.5s;
}

@media (hover: hover) {
  .page:hover {
    background-color: var(--gray-200);
  }
}

.page[data-selected='true'] {
  background-color: var(--gray-200);
}

.page[data-dummy] {
  background-color: transparent;
  cursor: default;
}
