@media (width <= 375px) {
  .main {
    width: 90%;
  }
}

@media (375px < width) and (width <= 1024px) {
  .main {
    width: 80%;
  }
}

@media (width >= 1024px) {
  .main {
    width: 900px;
  }
}
