.guide {
  margin-top: 6rem;
}

.items {
  display: flex;
  gap: 1rem;
  margin-top: 3rem;
  width: 100%;
  flex-wrap: wrap;
}

.item {
  width: fit-content;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  font-size: large;
  font-weight: bold;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  border-color: var(--gray-300);
  background-image: none;
}

@media (hover: hover) {
  .item:hover {
    transition-duration: 0.3s;
    background-color: var(--gray-300);
  }
}

/* 3d carousel */

.scene {
  margin: 40px 0;
  position: relative;
  width: 500px;
  height: 140px;
  margin: 40px auto;
  perspective: 1000px;
}

.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateZ(-344px);
  transform-style: preserve-3d;
}

.carousel__cell {
  position: absolute;
  width: 480px;
  height: 120px;
  left: 10px;
  top: 10px;
  line-height: 116px;
  font-size: 5rem;
  font-weight: bold;
  color: white;
  text-align: center;
  border-radius: 10px;
  user-select: none;
  transform: rotateY(var(--yDeg)) translateZ(calc(250px / var(--tan)));
  transition: transform 1s;
  cursor: pointer;
}

.move_left {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}

.move_right {
  position: absolute;
  z-index: 99;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
}

.carousel__cell:nth-child(9n + 1) {
  background: hsla(0, 100%, 50%, 0.8);
}
.carousel__cell:nth-child(9n + 2) {
  background: hsla(40, 100%, 50%, 0.8);
}
.carousel__cell:nth-child(9n + 3) {
  background: hsla(80, 100%, 50%, 0.8);
}
.carousel__cell:nth-child(9n + 4) {
  background: hsla(120, 100%, 50%, 0.8);
}
.carousel__cell:nth-child(9n + 5) {
  background: hsla(160, 100%, 50%, 0.8);
}
.carousel__cell:nth-child(9n + 6) {
  background: hsla(200, 100%, 50%, 0.8);
}
.carousel__cell:nth-child(9n + 7) {
  background: hsla(240, 100%, 50%, 0.8);
}
.carousel__cell:nth-child(9n + 8) {
  background: hsla(280, 100%, 50%, 0.8);
}
.carousel__cell:nth-child(9n + 0) {
  background: hsla(320, 100%, 50%, 0.8);
}

@starting-style {
  .carousel__cell {
    transform: rotateY(var(--yDeg)) translateZ(600px);
  }
}

@media (width < 768px) {
  .scene {
    width: 360px;
  }
  .carousel__cell {
    width: 340px;
    font-size: 4rem;
    transform: rotateY(var(--yDeg)) translateZ(calc(180px / var(--tan)));
  }
}

@media (width < 425px) {
  .scene {
    width: 300px;
  }
  .carousel__cell {
    width: 280px;
    font-size: 3rem;
    transform: rotateY(var(--yDeg)) translateZ(calc(150px / var(--tan)));
  }
}
