.container {
  display: flex;
  flex-direction: column;
}

.items {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

.item {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  font-weight: bold;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  border-color: var(--gray-300);
  background-image: none;
}

@media (width < 768px) {
  .items {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media (hover: hover) {
  .item:hover {
    transition-duration: 0.3s;
    background-color: var(--gray-300);
  }
}
