.background {
  font-size: 2rem;
  font-family: system-ui;
  padding: 4rem;
  background: #111;
  color: hsl(0 0% 90%);
  min-block-size: 100dvh;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.select {
  font: inherit;
  padding: 1rem 3rem;
  color: black;
}

.rating {
  /* settings, you can play with these */
  --star-size: 5rem;
  --gap: 15px;

  /* calculations, don't touch these :) */
  --gap-calc: calc((var(--star-count, 0) - 1) * var(--gap));

  height: var(--star-size);
  /* var(variable, fallback) */
  width: calc(var(--star-count, 0) * var(--star-size) + var(--gap-calc));
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/308367/star.svg);
  /* space: evenly distributed from end to end */
  background-repeat: space no-repeat;
  background-size: var(--star-size);
}
